{
  branches: [
    'main',
    {name: 'next', channel: 'next', prerelease: 'beta'},
    '+([0-9])?(.{+([0-9]),x}).x'
  ],
   "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/github",
    ["@semantic-release/git", {
      "assets": ["src/**/*.md", 'CHANGELOG.md', 'package.json', 'package-lock.json'],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }]
  ]
}